.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  position: relative;
  width: 200px;
  margin: auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  position: absolute;
  top: 2%;
  left: 75%;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: aquamarine;
  text-transform: uppercase;
}

.counters {
  display: flex;
  justify-content: center;
}

.banner {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(229, 194, 16);
  background-color: rgb(229, 208, 13);
}

.counter {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem 5rem 2rem 5rem;
  border-radius: 1rem;
  border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
  background-color: rgb(246, 243, 197);
}

.number {
  font-size: 6rem;
}

.total {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.addButton {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  background: rgb(215, 127, 12);
  background: linear-gradient(90deg, rgba(215, 127, 12, 1) 0%, rgb(238, 213, 73) 100%);
}
